@page "/chat/{chatId:int}"
@page "/chat/getByLink/{inviteLink:guid}"
@using SimpleChat.Client.Components
@using SimpleChat.Client.Components.Modals.Chat
@using SimpleChat.Shared.Extensions
@inject IStringLocalizer<Resource> localizer



@if (chat != null)
{
    <div class="chat-wrapper">
        <div class="chat-head">
            <div class="chat-pic-wrapper">
                @if (chat.Photo.Length == 0)
                {
                    <div class="default-avatar">@GetAvatarName(chat.Name)</div>
                }
                else
                {
                    <img class="chat-pic" src="data:image/jpeg;base64,@Convert.ToBase64String(chat.Photo)" alt="Chat picture"/>
                }
            </div>
            <div class="d-flex flex-column">
                <h2 class="p-6">@chat.Name</h2>
                <div class="d-flex flex-row">
                    <button class="oi oi-pencil edit-button" @onclick="@(() => isEditChatModalOpen = true)"></button>
                    @if (!chat.IsPublic)
                    {
                        <div class="tooltip-info">
                            <a class="oi oi-link-intact"></a>
                            <span class="tooltip-text">@localizer[Resource.InviteTooltip]</span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <MessagesListComponent ChatId=@chat.Id></MessagesListComponent>
        @if (isEditChatModalOpen)
        {
            <EditChatModal Chat="@chat.ToEditContract()" OnClose="@(() => isEditChatModalOpen = false)"></EditChatModal>
        }
        <form class="send-field-panel" @onsubmit=SendAsync>
            <div class="attach-file">
                <button class="oi oi-paperclip"></button>
                <input type="file">
            </div>
            <div class="input-wrap">
                <input @bind="messageInput" placeholder="Message text" class="text-area"/>
            </div>
            <div>
                <button type="submit" class="oi oi-arrow-right"></button>
            </div>
        </form>
    </div>
}