@page "/chat/{chatId:int}"
@using SimpleChat.Client.Components
@using SimpleChat.Client.Components.Modals.Chat
@using SimpleChat.Shared.Extensions



@if (chat != null)
{
    <div class="chat-wrapper">
        <div class="chat-head">
            <div class="chat-pic-wrapper">
                @if (chat.Photo.Length == 0)
                {
                    <div class="default-avatar">@GetAvatarName(chat.Name)</div>
                }
                else
                {
                    <img class="chat-pic" src="data:image/jpeg;base64,@Convert.ToBase64String(chat.Photo)" alt="Chat picture"/>
                }
            </div>
            <div class="d-flex flex-column">
                <h2 class="p-6">@chat.Name</h2>
                <button class="oi oi-pencil edit-button" @onclick="@(() => isEditChatModalOpen = true)"></button>
            </div>
        </div>
        <MessagesListComponent ChatId=@ChatId></MessagesListComponent>
        @if (isEditChatModalOpen)
        {
            <EditChatModal Chat="@chat.ToEditContract()" OnClose="@(() => isEditChatModalOpen = false)"></EditChatModal>
        }
        <form class="send-field-panel" @onsubmit=SendAsync>
            <div class="attach-file">
                <button class="oi oi-paperclip"></button>
                <input type="file">
            </div>
            <div class="input-wrap">
                <input @bind="messageInput" placeholder="Message text" class="text-area"/>
            </div>
            <div>
                <button type="submit" class="oi oi-arrow-right"></button>
            </div>
        </form>
    </div>
}